*{ box-sizing: border-box; font-size: @baseFont; float: left;}
.hide{ display: none; }

html, body{
  width: 100%;
  font-family: @mainFont;
}

main{ padding: 0 2%; }

h1{ font-size: @hugeFont; color: @darkColor; font-weight: bold; }
h2{ font-size: @largeFont; }
h3{ font-size: @mediumFont; }
h4,h5{ font-size: @baseFont; }

a{ color: @darkColor; &:hover{ color: @complimentaryColor}}
p{ 
  line-height: @baseFont + 6px;
  margin-top: 10px;

  &:first-child{
    margin-top: 0;
  }
}

input[type=submit],
button{
  border: none;
  background: transparent;
  :hover{ cursor: pointer; }
}
.clear{ clear: both; }
input,
label{
  .clear;
  width: 100%;
  display: block;
}
.hide{ display: none; }
input[type=text]{
  padding: 2px 4px;
}
