<section class="mainInfo">

    <div class="img">
        <img src="<%=images.rhs%>" alt="image of plant" />
    </div>

    <div class="plant-info title">
        <h1><%=names[0]%></h1>
        <h2><%=title%></h2>
        <h3><%=names[1]%></h3>
        <h4><span>family:</span> <a href="/plant/family/<%=family%>"><%=family%></a></h4>
    </div>

    <section class="plant-info plant-properties">
    
        <div class="plant-properties__section soil">
            <h4>Soil</h4>
            <% _.mapObject(soil, function(info, label){ %>
                <div class="properties__section__info">
                    <h5><%= label%>:</h5>
                    <span><%= info.join(', ')%></span>
                </div>
            <% }) %>
        </div>

        <div class="plant-properties__section size">
            <h4>Size</h4>
            <% _.mapObject(size, function(info, label){ %>
                <div class="properties__section__info">
                    <h5><%= label%>:</h5>
                    <span><%=info%></span>
                </div>
            <% }) %>
        </div>

        <div class="plant-properties__section colors">
            <h4>Colors <span></span></h4>
            <% _.each(color.colors, function(colour){ %>
                <span class="colors__color" style="background:<%=colour%>;"><%=colour%></span>
            <% }) %>
            
            <div class="moreInfo hide">
                <div class="season">
                    <h4>By Season:</h4>
                    <% _.mapObject(color.seasons, function(colors, season){ %>
                        <span><%=season%></span>
                        <% _.each(colors, function(colour){ %>
                            <span style="background:<%=colour%>; width: 25px; height: 25px;display:block"><%=colour%></span>
                        <% }) %>
                    <% }) %>
                </div>
                <div class="attribute">
                    <h4>By Attribute:</h4>
                    <% _.mapObject(color.types, function(colors, season){ %>
                        <span><%=season%></span>
                        <% _.each(colors, function(colour){ %>
                            <span style="background:<%=colour%>; width: 25px; height: 25px;display:block"><%=colour%></span>
                        <% }) %>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="plant-properties__section sun">
            <h4>Sun <span></span></h4>
            <span class="sunlight">
                <i class="fa fa-sun-o <%= sunlight.sun %>"><span></span></i>
            </span>

            <div class="moreInfo hide">
                <h5>Exposure</h5>
                <span><%= sunlight.exposure.join(', ')%></span>
                <h5>Aspect</h5>
                <span><%= sunlight.aspect.join(', ')%></span>
            </div>
        </div>

    </section>

</section>

<div class="description">
    <p><%=genus%></p>
    <p><%=description%></p>
</div>


<section class="maintenance">
    <% _.mapObject(howTo, function(sectionInfo, sectionTitle){ %>
        <div class="sectionTitle">
            <h4>How to <%= sectionTitle %></h4>
            <% _.mapObject(sectionInfo, function(info, heading){ %>
                <div class="sectionTitle_info">
                    <h5><%= heading %>:</h5>
                    <p><%= info %></p>
                </div>
            <% }) %>
        </div>
    <% }) %>
</section>
<div class="clear"></div>
