<ul class="plants">
    <% _.each(plants, function(plant){%>
        <li class="plants__mainInfo">
            <div class="plants__img">
                <% if (typeof(plant.images) !== "undefined" && typeof(plant.images.rhs) !== "undefined" && plant.images.rhs !== null) { %>
                    <img src="<%=plant.images.rhs%>" alt="image of plant" />
                <% }else{ %>
                    &nbsp;
                <% } %>
            </div>
            <div class="plants__title">
                <h2><a href="/plant/<%=plant._id%>/<%=plant.title%>"><%=plant.names[0]%></a></h2>
                <h3><a href="/plant/<%=plant._id%>/<%=plant.title%>"><%=plant.title%></a></h3>
                <h4><%=plant.names[1]%></h4>
                <p><span>family:</span> <a href="/plant/family/<%=plant.family%>"><%=plant.family%></a></p>
            </div>
        </li>
    <% }) %>
</ul>
