<ul class="pagination">
    <% if ( pages > 0 ){ %>
        <li>
            <button type="button" class="prev <% if ( curPage === 0 ){ %>hide<% } %>" data-page=<%= (curPage - 1) %>>&lt;</button>
        </li>
        <li>
            <button type="button" class="first <%if ( curPage === 0 ){%>active<% } %>" data-page=0>1</button>
        </li>
        <% if ( start > 1 ){ %>
            <li><span>...</span></li>
        <% } %>
        <% for ( var i = start; i <= stop; i++ ){ %>
            <li>
                <button type="button" class="page <%if (i === curPage){%>active<% } %>" data-page=<%= i %>><%= (i+1) %></button>
            </li>
        <% } %>
        <% if ( stop < (pages - numButtons) ){ %>
            <li><span>...</span></li>
        <% } %>
        <li>
            <button type="button" class="last <%if ( curPage === (pages - 1) ){%>active<% } %>" data-page=<%= (pages - 1) %>><%= pages %></button>
        </li>
        <li>
            <button type="button" class="next <% if ( curPage >= (pages - 1) ){ %>hide<% } %>" data-page=<%= (curPage + 1) %>>&gt;</button>
        </li>
    <% } %>
</ul>
