<div class="search">
    <section class="search_query">
        <label>Search:</label>
        <input type="text" name="query" class="search_query_query" placeholder="Search" />
        <button type="submit" class="search_query_query_go" ><i class="fa fa-search"></i></button>
        <div class="search_query__total"></div>
    </section>
    <aside class="search__filters"></aside>
    <main class="search__results">
        <div class="search__results__results"></div>
        <div class="search__results__pagination"></div>
    </main>
</div>
<div class="clear"></div>
